.section {
  position: relative;
  width: 1440px;
  height: 1405px;
  margin: 0 auto;
  background: #01183d;
  overflow: hidden;

  z-index: 3;
}

.gradient {
  position: absolute;
  width: 774px;
  height: 710px;
  left: 271px;
  top: 522px;
  border-radius: 50%;

  background: #42679e;
  filter: blur(230px);
}

.circlePillow {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 674px;
  top: 600px;

  z-index: 1;

  border-radius: 50%;
  border: 1px solid #82e1ff;
  filter: drop-shadow(0px 0px 10px #00c2ff);
}

.circleBack {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 670px;
  top: 743px;

  z-index: 1;
  border-radius: 50%;
  border: 1px solid #82e1ff;
  filter: drop-shadow(0px 0px 10px #00c2ff);
}

.circleSeat {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 822px;
  top: 950px;

  z-index: 1;
  border-radius: 50%;
  border: 1px solid #82e1ff;
  filter: drop-shadow(0px 0px 10px #00c2ff);
}

.circleStand {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 740px;
  top: 1118px;

  z-index: 1;
  border-radius: 50%;
  border: 1px solid #82e1ff;
  filter: drop-shadow(0px 0px 10px #00c2ff);
}

.about {
  position: relative;
  padding-top: 100px;
  padding-left: 140px;
  padding-right: 140px;
}

.topLine {
  background-image: url("../../../public/images/line-about-top.png");
  height: 50px;
  width: 1440px;
  position: absolute;

  left: 0;
  top: 104px;
}

.title {
  font-family: Oxanium;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.12;

  color: #82e1ff;

  padding-left: 120px;
}

.mainChair {
  position: absolute;
  left: 535px;
  top: 490px;

  background-image: url("../../../public/images/chair-about.png");
  background-size: cover;
  width: 450px;
  height: 791px;
}

.seatStandDashes {
  position: absolute;
  left: 384px;
  top: 878px;

  background-image: url("../../../public/images/seat-stand-dashes.png");
  background-size: cover;
  width: 681px;
  height: 244px;
}

.backDashes {
  position: absolute;
  left: 383px;
  top: 365px;

  background-image: url("../../../public/images/back-dashes.png");
  background-size: cover;
  width: 296px;
  height: 386.5px;
}

.pillowDashes {
  position: absolute;
  left: 679px;
  top: 302px;

  background-image: url("../../../public/images/pillow-dashes.png");
  background-size: cover;
  width: 373px;
  height: 304px;
}

.biggerPillow {
  position: absolute;
  left: 1033px;
  top: 198px;

  background-image: url("../../../public/images/bigger-pillow.png");
  background-size: cover;
  width: 240px;
  height: 240px;

  z-index: 1;

  & .pillowContent {
    position: absolute;
    top: 272px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;

    color: #ffffff;
  }
}

.biggerBack {
  position: absolute;
  left: 163px;
  top: 263px;

  background-image: url("../../../public/images/bigger-back.png");
  background-size: cover;
  width: 240px;
  height: 240px;

  z-index: 1;

  & .backContent {
    position: absolute;
    top: 272px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;

    color: #ffffff;
  }
}

.biggerSeat {
  position: absolute;
  left: 1045px;
  top: 765px;

  background-image: url("../../../public/images/bigger-seat.png");
  background-size: cover;
  width: 240px;
  height: 240px;

  z-index: 1;

  & .seatContent {
    position: absolute;
    top: 272px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;

    color: #ffffff;
  }
}

.biggerStand {
  position: absolute;
  left: 164px;
  top: 873px;

  background-image: url("../../../public/images/bigger-stand.png");
  background-size: cover;
  width: 240px;
  height: 240px;

  z-index: 1;

  & .standContent {
    position: absolute;
    top: 272px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;

    color: #ffffff;
  }
}
